<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ currentWorkoutName === '' ? 'Meus treinos' : 'Treino ' + currentWorkoutName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="currentWorkoutName === ''">
    <div *ngFor="let w of workout" (click)="changeWorkout(w.name)" class="card">
      Treino {{ w.name }}
    </div>
  </ng-container>

  <ng-container *ngIf="currentWorkoutName !== ''">
    <div *ngFor="let ex of getWorkoutExercises(currentWorkoutName)" class="exercise">
      {{ ex.name }}
      <input type="text" [(ngModel)]="ex.weight">
    </div>
  </ng-container>


  <div *ngIf="currentWorkoutName === ''" class="btn export">
    <a [href]="exportData()" target="_blank">Exportar Dados</a>
  </div>
  <div class="buttons">
    <div *ngIf="currentWorkoutName !== ''" class="btn back" (click)="changeWorkout('')">
      Voltar
    </div>
    <div *ngIf="currentWorkoutName !== ''" class="btn save" (click)="updateExercise()">
      Salvar
    </div>
  </div>
</ion-content>